body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.flex-container {
  display: flex;
}
h1 {
  font-size: 50px;
  margin-bottom: 120px;
}
.orange-color {
  color: orange;
}
.custom-btn {
  color: #fff;
  padding: 10px 30px;
  background-color: tomato;
  text-decoration: none;
  border-radius: 5px;
}
.half-width {
  width: 40%;
  margin: 0 5%;
  padding-left: 20px;
}
.header-text {
  margin-top: 130px;
}
.half-width img {
  width: 70%;
}
.text-center {
  text-align: center;
}
.card-container {
  display: flex;
}
.card {
  width: 26.33%;
  margin: 0 5%;
  padding: 20px;
}
.card img {
  width: 100%;
}
.mission {
  border-radius: 10px;
  background-color: #4f9da61a;
}
.vission {
  border-radius: 10px;
  background-color: #ff59591a;
}
.goals {
  border-radius: 10px;
  background-color: #fff4d6;
}
